*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  gap: 15px;
}
.employe-box{
  border: 8px solid black;
  border-radius: 5px;
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
  
  min-width: 287px;
}
  

.heading{
  text-align: center;
}
.employe-box1{
  padding: 10px 18px;
  background: rgb(206, 204, 204);
  margin-top: 10px;
  justify-content: space-between;

}
.employe-box1 p{
  
}
.employe-box1 button{
  font-size: 14px;
  padding: 1px 16px;
  background: #3279ff;
  border: none;
  color: white;
  font-weight: 800;
  
}
.avgAge{
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  background: rgb(206, 204, 204);
  margin-top: 10px;
  
}
.teambox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sortAge{
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  margin-top: 10px;
}
